{% trans_default_domain 'user.address' %}

<div class="modal-dialog modal-dialog-centered p-3" style="max-width: 700px;">

    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'Уточнить адрес'|trans }}
            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="map-wrap d-flex overflow-hidden rounded-4  p-3">
            <div id="map" class='w-100 bg-cover'
                 style='height: 300px; background-image: url("/triangle/map.webp");'
            >
            </div>
        </div>

        <div class="modal-body">

            {% if form.vars.data.house %}
                <h4>
                    Это Ваш адрес ?
                </h4>
            {% else %}

                {% if form.vars.data.desc %}
                    <h5>
                        {# Вы уверены, что желаете удалить #}
                        {# {{ 'admin.form.delete.h4'|trans }} "{{ name }}"? #}
                        К сожалению мы не можем определить указанный Вами адрес.
                    </h5>
                    <p>
                        Пожалуйста, уточните адрес, чтобы мы могли определить точное местоположение либо доставка будет
                        по указанному на карте адресу

                    </p>
                {% else %}
                    <p>Пожалуйста, уточните адрес, чтобы мы могли определить точное местоположение</p>
                {% endif %}

            {% endif %}


            {{ form_widget(form.desc) }}

        </div>

        <div class="modal-footer">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}

                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>


                {# Сохранить #}
                {{ form_widget(form.geocode, { label: '
                    <span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                '}) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}


</div>
